<main class="contenedor">

  <section class="contenedor_logo">
    <img src="assets/escudo1.png" alt="Logo">

    <h3 class="contenedor_logo-titulo">
      ¿No estás registrado?
    </h3>

    <button class="contenedor_logo-boton ">
      <a href="registro">Registrar cuenta</a>
    </button>

  </section>

  <section class="contenedor_formulario">

    <article class="contenedor_formulario-formato">
      <h3> Iniciar Sesión </h3>

      <input style="padding-left: 3%;" type="text" name="" id="" placeholder="Correo Institucional">
      <input style="padding-left: 3%;" type="text" name="" id="" placeholder="Contraseña">
      <input style="padding-left: 3%;" type="text" name="" id="" placeholder="Confirmar contraseña">

      <button class="contenedor_formulario-boton" (click)="IniciarSesion()">
        Iniciar Sesión
      </button>
    </article>

  </section>

</main>
