.tarjeta{
  display: grid;
  grid-template-columns: 55% 45%;
}

.campos_llenar{
  display: flex;
  flex-direction: column;
  padding: 1% 9%;
  min-height: 29vh;
}

.Titulo {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 115%;
  color: #12307A;
  margin: 0 0 2% 0;
  padding: 0;
  word-wrap: break-word;
  align-items: center;
  text-align: center;
}

.campos_llenar input{
  padding: 1% 0;
  margin: 2% 0 1% 0;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: #CAE4E5;
  color: rgb(0, 0, 0);
  padding-left: 4%;

  font-size: 80%;
  font-weight: 600;

}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0 0 0 0;

  width: 100%;
  border-radius: 20px;
  border-color: transparent;
  height: 30px;
  background-color: #12307A;

  color: white;
  margin-top: 15%;
  font-size: 90%;
}

.informacion {
  background-color: #2B3651;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  min-height: 14.6em;
  padding: 2% 0% 0 5%;
  border-bottom-right-radius: 10px;

}
.informacion h3 {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0.5rem;
  padding: 0;
  color: white;
}
.informacion p{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 90%;
  color: white;
  margin: 0 0 5% 0;
  padding: 0 10px 0 10px;
}

.informacion p i {
  margin-right: 10px;
}

@media only screen and (max-width: 599px) and (min-width: 400px) {

  .tarjeta {
    display: grid;
    width: 70vw;
    grid-template-columns: 55% 45%;
  }

  .campos_llenar {
    padding: 1% 4%;
    min-height: 10%;
  }

  .Titulo {
    font-size: 60%;
    margin: 0 0 1% 0;
  }

  .campos_llenar input {
    margin: 1% 0 1% 0;
    width: 90%;
    margin: 3% 5%;
    font-size: 60%;
  }

  .boton {
    width: 90%;
    margin: 5% 5%;
    font-size: 60%;
  }

  .informacion {
    min-height: 10%;
    padding: 2% 0% 0 5%;
    border-bottom-right-radius: 10px;
  }

  .informacion h3 {
    font-size: 60%;
    margin: 1% 0 1% 1%;
    padding: 0;
    color: white;
  }

  .informacion p {
    font-size: 60%;
    margin: 0 0 5% 0;
    padding: 0 1% 0 1%;
  }

  .informacion p i {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 600) and (max-width: 1000px) {
  .tarjeta {
    display: grid;
    width: 70vw;
    grid-template-columns: 55% 45%;
  }

  .campos_llenar {
    padding: 1% 4%;
    min-height: 10%;
  }

  .Titulo {
    font-size: 60%;
    margin: 0 0 1% 0;
  }

  .campos_llenar input {
    margin: 1% 0 1% 0;
    width: 90%;
    margin: 3% 5%;
    font-size: 60%;
  }

  .boton {
    width: 90%;
    margin: 5% 5%;
    font-size: 60%;
  }

  .informacion {
    min-height: 10%;
    padding: 2% 0% 0 5%;
    border-bottom-right-radius: 10px;
  }

  .informacion h3 {
    font-size: 60%;
    margin: 1% 0 1% 1%;
    padding: 0;
    color: white;
  }

  .informacion p {
    font-size: 60%;
    margin: 0 0 5% 0;
    padding: 0 1% 0 1%;
  }

  .informacion p i {
    margin-right: 10px;
  }
}
